<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vaccine Slot</title>
    <style>
        body {
            padding-left: 20px;
        }
    </style>
</head>

<body>
    <p>Hi <%= payload.name %>, <br> <br> Found an <strong>AVAILABLE</strong> slot for 18+, here are the details: </p>
    <ul>
        <li style="list-style-type:square">Center name: <%= payload.centerName %></li>
        <li style="list-style-type:square">Center address: <%= payload.address %></li>
        <li style="list-style-type:square">District name: <%= payload.district_name %></li>
        <li style="list-style-type:square">State Name: <%= payload.state_name %></li>
        <li style="list-style-type:square">Center Pincode: <%= payload.pincode %></li>
        <li style="list-style-type:square">Available Date: <%= payload.date %></li>
        <li style="list-style-type:square">Available Capacity: <%= payload.available_capacity %></li>
    </ul>
    <p>Please let me know your suggestions, complaints and feedback.<br> <br> I hope it was helpful for you. <strong>Stay safe, keep smiling, we shall overcome..!!</strong></p>
    <p>Thank and Regards <br> Uday Singh </p>
</body>

</html>